<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../styles/loginCSS.css">
    <title>Inicio</title>
</head>

<body>
    <main>
        <div class="login-page animated fadeInDown">
            <div class="form">
                <form class="login-form" id="login-f">
                    <input type="text" placeholder="Usuario" id="_usuario" required/>
                    <input type="password" placeholder="Contraseña" id="_contrasenia" required/>
                    <button type="submit">Ingresar</button>
                    <p class="message">Crear cuenta: <a href="../register/registro.html">Aquí</a></p>
                </form>
            </div>
        </div>

    </main> 
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>  
    <script src="../login/login.js"></script>
</body>

</html>